<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
</head>
<body>
    <header>
        <p style="background-color:hotpink"> Header part</p>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <p style="background-color:darkorange"> Footer part</p>
    </footer>
</body>
</html>
