<html>
<head>

</head>
<body>
    <h1>School Index ndex page</h1>
    <h2>My name is  @ViewData["name"]</h2>
    <h3>@ViewData["data1"]</h3>
    <h3>@ViewBag.Data2</h3>
    <h3>@TempData["data3"]</h3>

</body>

</html