@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Student>
<table>
   <tr>
       <th>Name </th>
       <th>Roll No</th>
       <th>City</th>
   </tr>
    @{
        foreach( var item in Model)
        {
            <tr>
            <td>@item.Name</td>
            <td>@item.RollNo </td>
            <td>@item.City</td>
            </tr>
        }
    }
</table>
@{
}
